// $theme-colors: (
//   "primary": #00d974,
//   "danger": #ff4136,
//   "custom-color": #900
// );

$theme-colors: (
  "primary": rgb(80, 80, 80),
  "secondary": rgb(102, 102, 102),
  "custom-color": rgb(141, 141, 141)
);

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';


// Add your custom variables here
$dropdown-bg:                       $dark;
$dropdown-link-color:               $light;

// input,
// select,
// optgroup,
// textarea {
//   margin-top: 0.2em;
//   margin-bottom: 0.2em;
// }

// button {
//   margin: 0.2em;
// }

a:hover{
  text-decoration: none;
}

// button {
//   margin-bottom: 2rem;
// }
